@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Pomyślnie zarejestrowano";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Teraz możesz się zalogować. Aplikacja nie wysyła maila z linkiem aktywacyjnym.</p>
}

