@{
    ViewData["Title"] = "\"BAJKA\"";
}

<div class="container text-center">
    <img src="~/images/microphone.png" />
    <p>
        Wszystko się kręci jak ten diabeł tasmański
        To Looney Tunes, ciągle słyszę jakieś bajki
    </p>
    <p>
        Ije ijeeej, nie mam czasu nawet kłamać
        Idę po swoje z buta jak Tony Montana
    </p>
</div>