@{
    ViewData["Title"] = "Hmm, co to jest..";
}

<div class="container text-center">
    <img src="~/images/mountains.png" />
    <p>Chyba coś tam widać w oddali. Chyba muszę podejść trochę bliżej.</p>
</div>