@{
    ViewData["Title"] = "Zaczynajmy..";
}

<div class="container text-center">
    <img src="~/images/door.png" />
    <p>Witaj, mam dla Ciebie małą zagadkę na start.</p>
    <p class="m-0">
        Co jest większe niż Bóg,
        Znajduje się bliżej niż prawda,
    </p>
    <p>
        Ubogie ludzie mają to,
        Bogaci ludzie tego nie mają?
    </p>
</div>
