@{
    ViewData["Title"] = "Wsłuchaj się";
}

<div class="container text-center">
    <img src="~/images/africanOstrich.png" />
    <p>Słyszę jakieś szepty, ale jaki związek mają one ze strusiem?</p>
    <audio controls>
        <source src="/sounds/morse.wav" type="audio/wav">
        Twoja przeglądarka nie lubi plików audio..
    </audio>
</div>