@{
    ViewData["Title"] = "Początek";
}

<div class="container">
    <h1 class="display-4 text-center">Welcome in Zaklucz Mnie</h1>
    <p>Poniżej znajduję się instrukcja korzystania z gry:</p>
    <ol>
        <li>Musisz być zalogowany.</li>
        <li>Twoimi punktami jest czas spędzany nad zagadkami. Im go więcej tym gorzej.</li>
        <li>W grze bierze udział to co widzisz na stronie (obrazek, tekst), tytuł strony oraz jej URL.</li>
        <li>Czasami zagadki są banalne, a czasami nawiązują do folkloru.</li>
        <li>Odpowiedź wpisujemy w URL strony. Jest to szyk słów (bez polskich znaków) po slash'u. Jeśli odpowiedź zawiera spacje, pomiń je. Np. /cosWielkiego.</li>
        <li>W przypadku błędnej odpowiedzi wyświetli się komunikat. Należy wtedy cofnąć się na poprzednią stronę.</li>
        <li>Gre zaczynamy od wpisania /Start.</li>
    </ol>
</div>
